<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DHTe UI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/colors.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <form class="main_container" action="../ui" method="get" style="display:flex; flex-direction:column; justify-content: space-around; align-items: center; width:100wh; height:100vh">
      <span style="font-size:8em; opacity: 0.33">Ошибочка!</span>
    </div>
    <div class="">
        <pre th:text="${error}"></pre>
    </div>
    <div class="">
      <input class="button" type="submit" name="" value="Назад">
    </div>
  </form>
  <img class="back" src="../resources/back.png" alt="">
</body>
</html>
